.popup__add-button_disabled {
  background: #FFF;
  color: rgba(0, 0, 0, .2);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, .15);
  border-color: rgba(0, 0, 0, .2);
  cursor: auto;
}

.popup__add-button_disabled:hover {
  background-color: #FFF;
}

